[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sse = "*"
python-dotenv = "*"
requests = "*"
sendgrid = "*"
bleach = "*"

[dev-packages]

[requires]
python_version = "3.11"
