<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <h1 id="title-header">DS2 Log Processor</h1>
    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
    </form>
    <!-- Uploaded Files -->
    <div>
        <h2>Files</h2>
        <ul id="files">
        </ul>
    </div>
    <div>
        <h2>Processed Files</h2>
        <ul id="processedFiles">
        </ul>
    </div>
    <button id="process">Process</button>
    <button id="downloadButton" disabled>Download</button>
    <div id="processStatus"></div>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
