<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/ds2lv.ico') }}" type="image/x-icon">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <h1 id="title-header">DS2 Log Processor</h1>
    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
        <div id="rc-div" class="g-recaptcha" data-sitekey="6LcYSDkmAAAAAMhAJ_cTryNzq-3dNFRtOXL0TjBj" data-callback="rcSuccess"></div>
        <br />
        <input id="uploadFileInput" type="file" name="file" multiple disabled>
    </form>
    <div id="fileUploadError" hidden></div>
    <!-- Uploaded Files -->
    <div>
        <h2>Files</h2>
        <ul id="files">
        </ul>
    </div>
    <div>
        <h2>Processed Files</h2>
        <ul id="processedFiles">
        </ul>
    </div>
    <button id="process" disabled>Process</button>
    <button id="downloadButton" disabled>Download</button>
    <div id="processStatus"></div>
    <a href="https://www.paypal.com/donate/?business=5XK36BWCXUEWN&no_recurring=0&item_name=Continuing+creating+and+providing+software+to+make+your+life+easier&currency_code=USD" target="_blank">
        <button id="donateButton">Donate</button>
    </a>
    <button type="button" class="btn btn-primary" id="feedbackButton">
        Feature Requests/Feedback
    </button>
    <dialog id="feedbackDialog">
        <form method="dialog">
            <h1>Feature Requests/Feedback</h1>
            <textarea id="feedbackText" maxlength="200"></textarea>
            <menu>
                <button value="cancel">Cancel</button>
                <button id="feedbackSubmit" value="submit">Submit</button>
            </menu>
        </form>
    </dialog>    
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
