body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #292f4f;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 0px;
    margin-top: 0px;
    border-bottom: 1px solid #ccc;
}

h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form,
ul {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}

ul li {
    line-height: 1.5;
}

button {
    background-color: #5c6bc0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

#processStatus {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

#donateButton {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #5cb85c;
    /* Green */
}

#feedbackButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #5c67b8;
    /* Green */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #292f4f;
    color: white;
}

#files th:nth-child(1) {
    width: 30ch;
}

#files th:nth-child(2) {
    width: 10ch;
}

tr:not(.uploading):not(.error):not(.completed):not(.processed):nth-child(even) {
    background-color: #f2f2f2;
}

#feedbackText {
    margin-left: 20px;
    width: 380px;
    height: 100px;
}

#emailAddress {
    width: 48ch;
}

.processed {
    background-color: #d5dff2;
    /* Replace with your desired green color */
}

.uploading {
    background-color: #f4f7ac;
    /* Replace with your desired green color */
}

.error {
    background-color: #eaacac;
    /* Replace with your desired green color */
}

.completed {
    background-color: #c2e5c3;
    /* Replace with your desired green color */
}

.table-container {
    max-height: 300px;
    /* Adjust the height as needed */
    overflow-y: auto;
}

#settings {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}